---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

// Centers pixel moments page's intro
.pixel-moments-intro {
  text-align: center;
  font-size: 2.5em;
  margin: 2em 0; // Optional: add vertical spacing
}


// Masonry container for game pic gallery
.masonry {
    width: 90vw; // 90% of viewport width
    margin-left: calc(-45vw + 50%); // Center the container
    position: relative;
    left: 50%;
    margin-left: -45vw;
    column-count: 5; // Number of columns in the masonry layout
    column-gap: 1em;
  }
  
  // Each item in the masonry grid
  .masonry-item {
    break-inside: avoid; // Prevents an item from being split between columns
    margin-bottom: 1em;
  }
  
  // Make images responsive within each masonry item
  .masonry-item img {
    width: 100%;
    height: auto;
  }
  
  // Style the captions to be pink
  .masonry-item figcaption {
    font-size: 1em;
    color: pink;
    text-align: center;
    margin-top: 0.2em;
  }
  