---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Google Font Press Start 2P
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

// Centers pixel moments page's intro
.pixel-moments-intro {
  text-align: center;
  font-size: 3em;
  margin: 2em 0; // Optional: add vertical spacing
}

// Press Start 2P font
.press-start {
  font-family: 'Press Start 2P', monospace;
}

// Masonry container for game pic gallery
.masonry {
    width: 90vw; // 90% of viewport width
    margin-left: calc(-45vw + 50%); // Center the container
    position: relative;
    left: 50%;
    margin-left: -45vw;
    column-count: 5; // Number of columns in the masonry layout
    column-gap: 1em;
  }
  
  // Each item in the masonry grid
  .masonry-item {
    break-inside: avoid; // Prevents an item from being split between columns
    margin-bottom: 1em;
  }
  
  // Make images responsive within each masonry item
  .masonry-item img {
    width: 100%;
    height: auto;
  }
  
  // Style the captions to be pink
  .masonry-item figcaption {
    font-size: 1em;
    text-align: center;
    margin-top: 0.2em;
  }

// Cutomize styling for the About page
.about-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100vw; // span 100% of viewport width
  padding: 0 0;
  margin: 0;
  box-sizing: border-box; // include padding in width
  gap: 2em; //space between content and image
  flex-shrink: 0;
  max-width: 1500px;
}

// > makes sure the styles only apply to the direct children of .about-inner
.about-inner > div {
  font-size: 1.5em;
  flex: 1; //content grows to fill available space
}

// Make sure site description is displayed in whole
.site-description {
  font-weight: normal;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 80vw;
  margin: -1em 0 0 0;
  white-space: normal; //allow wrapping
  word-wrap: break-word;
}

// Cutomize styling for the Home page
.home-inner {
  max-width: 80vw; // span 80% of viewport width
  margin: 0;
  box-sizing: border-box; // include padding in width
}
